.call-to-action {
  width: 43.75rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.call-to-action h1 {
  margin: 0;
}
.call-to-action p {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
.call-to-action h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}
