.collapse {
  width: 100%;
  max-width: 43.125rem;
  background-color: #C4C7DF;
  border-radius: .25rem;
  margin: 0 auto 1rem;
}
.collapse:last-child {
  margin-bottom: 0;
}
.collapse-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 1rem;
}
.collapse-header p {
  margin: 0;
}
.collapse-body {
  padding: 1rem;
  width: 100%;
  max-width: 43.125rem;
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: none;
}
.open .collapse-body {
  display: block;
}
.open .seta-azul {
  transform: rotate(180deg);
}
