.traco-azul {
  width: 2.75rem;
  height: .25rem;
  background-color: #4F5EC7;
  border-radius: .25rem;
  margin-bottom: .75rem;
}
.seta-azul {
  width: 0;
  height: 0;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-top: .5rem solid #4F5EC7;
}
