.topo {
    padding: 0 1rem;
    background-color: #171B2B;
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
  color: #FFFFFF;
  font-size: 1.125rem;
}
.nav-link {
  border-radius: .25rem;
  padding: .5rem;
  text-transform: uppercase;
  margin-left: 2rem;
  font-size: 0.875rem;
  color: #FFFFFF;
  text-decoration: none;
  transition: ease-in-out .5s;
}
.nav-link:hover {
  background-color: rgba(255,255,255,.75);
  color: #171B2B;
}
